body {
  background-color: #131316;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);

  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(-100px);
}
.logos {
  display: flex;
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}
